.container{
	display:flex;
	margin:50px;
	justify-content:space-evenly;
	align-items:center;
}
.circle{
	height:50px;
	width:50px;
	border-radius:50%;
	background-color:black;
    opacity: 0.5;
}
#button{
	text-align:center;
}
#line{
	position:absolute;
	height:5px;
    margin-left:50px;
	left:100px;
	background-color:black;
}
.active{
    opacity: 1;
}